<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar cuenta</title>
</head>
<body>
    <h3>Validar cuenta</h3>
    <p>Hola <b>{{user.username}}</b>:</p>
    <p>Para completar tu registro en el Sistema Videojuegos debes activar tu cuenta haciendo click en el siguiente enlace:</p>
    <br>
    <br>
    <p>
        <a href="http://{{sitio}}{% url 'usuarios:activar' uidb64=uid token=token %}">
            Activar cuenta
        </a>
    </p>
</body>
</html>