{% extends 'base2.html' %}
{% load static %}

{% block titulo %}
    Lista de videojuegos
{% endblock titulo %}
    

{% block contenido %}
<h1 class="app-page-title">Lista de videojuegos</h1>   
<div class="app-card app-card-orders-table shadow-sm mb-5">
    <a href="{% url 'videojuego:nuevo' %}" class="btn btn-primary">Nuevo Juego</a>
    <hr>
    <br>
    <table class="table">
        <thead>
            <th>Título</th>
            <th>Año</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for videojuego in object_list  %}
            <tr>
                <td>{{videojuego.titulo}}</td>
                <td>{{videojuego.anio}}</td>
                <td>{{videojuego.categoria}}</td>
                <td>{{videojuego.precio}}</td>
                <td>{{videojuego.descripcion}}</td>
                <td>
                    <a href="{% url 'videojuego:ver' videojuego.id %}" class="btn btn-primary btn-sm">Ver</a>
                    <a href="{% url 'videojuego:editar' videojuego.id %}">Editar</a>
                    <button 
                        onclick="muestraModal('{% url 'videojuego:eliminar' videojuego.id %}','{{videojuego.titulo}}')" 
                        type="button" class="btn btn-primary" 
                        data-toggle="modal" data-target="#exampleModal">
                        Eliminar 2
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalCuerpo" >         
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <form id="formEliminar" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}

{% block js %}
    <script src="{% static 'js/funciones.js' %}"></script>    
{% endblock js %}
    
    