<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de videojuego</title>
</head>
<body>
    <h1>{{object.titulo}}</h1>
    <h3>{{object.categoria}}</h3>
    <h4>{{object.anio}}</h4>
    <p>{{object.precio}}</p>
    
    {% if object.descripcion %}
        <div>
            {{object.descripcion}}
        </div>
    {% endif %}
        
    <a href="{% url 'videojuego:lista' %}">Regresar</a>
</body>
</html>