<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de categorías</title>
</head>
<body>
    <h1>Lista de categorías</h1>
    <a href="{% url 'categoria:nuevo' %}">Nueva categoría</a>
    <hr>
    <br>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre categoría</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for categoria in categorias  %}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}}</td>
                    <td><a href="{% url 'categoria:eliminar' categoria.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
