{% load permisos_grupo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cuestionario {{quiz.nombre}}</h1>
    
    <form action="" method="post">
        {% csrf_token %}
        {% comment %}
        {% for pregunta in quiz.preguntas.all  %}
            <p>
                <label for="id_pregunta.id">{{pregunta}}</label>
                {% if pregunta.opciones == '1' %}
                    <select name="{{pregunta.id}}" id="" {{pregunta.requerida|requerido}}>
                        {% for opcion in pregunta.opciones_pregunta.all %}
                            <option value="{{opcion.valor}}">{{opcion.opcion}}</option>
                        {% endfor %}
                    </select>
                {% else %}

                <input name="{{pregunta.id}}" type="{{pregunta.tipo_dato|tipo_dato}}" {{pregunta.requerida|requerido}}>
                {% endif %}    
                </p>
            
        {% endfor %}
        {% endcomment %}

        {{form.as_p}}
            
        
        <input type="submit" value="Guardar">
  

    </form>
</body>
</html>