{% extends 'base.html' %}
{% load static %}


{% block titulo %}
    {{accion}} perfil
{% endblock titulo %}

{% block contenido %}
    <h1>{{accion}} perfil</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-success" type="submit" value="Guardar">
        <a class="btn btn-danger" href="{% url 'bienvenida' %}">Cancelar</a>
    </form>
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'dist/js/funciones.js' %}"></script>
{% endblock scripts %}