{% extends 'base.html' %}

{% block titulo %}
    Bienvenido al sistema de videojuegos
{% endblock titulo %}

{% block contenido %}
    <h2>{{user}} bienvenido al Sistema</h2>
    <p>Holaaaaa!!!!</p>
{% endblock %}